// These colors need tidying, some aren't used

$acme-primary: #000000;
$acme-secondary: #222427;
$acme-text: #fff;
$acme-text-gray: #ccc;
$acme-button-gray: #888;
$acme-dark-blue: #06253a;
$acme-blue: #073155;

// Acme Brand primary colour
$acme-primary-color: #000000;

// Secondary blue colour
$acme-secondary: #212427;
$acme-text: #fff;
$acme-text-gray: #ccc;
$acme-dark-blue: #06253a;
$acme-blue: #073155;
$acme-page-side-nav: #06c;
$acme-side-nav: $acme-secondary;
$acme-side-nav-active: #4F5255;

$acme-dark-gray: #333
